extends layout

block head 
    link(rel="stylesheet", href="/stylesheets/ucPageUsers.css")
    link(rel='stylesheet', href='/stylesheets/dropdown.css')
    link(rel='stylesheet', href='/stylesheets/userCard.css')

block content
    .navbar
        .leftNavbar.flexbox.justify-center.align-center.full-height-div.flex-change-row-column
            a.button.dark-blue.border-1px-black.margin-10px.padding-10px(href=`/ucs/${id}`) UC

        header.middleNavbar.flexbox.justify-center.align-center
            h1.white-smoke Utilizadores inscritos

        .rightNavbar.flexbox.justify-center.align-center.full-height-div.flex-change-row-column
            .sec-center
                input.dropdown(type="checkbox" id="dropdown" name="dropdown")
                label.white-smoke.button.gold.border-1px-black.margin-10px.padding-10px(for="dropdown") Menu 
                    
                .section-dropdown
                    a.dropdown-a.bg-white-smoke.dark-blue.margin-10px.padding-10px.border-1px-black(href=`/ucs/${id}/docentes`) Docentes
                    a.dropdown-a.bg-white-smoke.dark-blue.margin-10px.padding-10px.border-1px-black(href=`/ucs/${id}/aulas`) Aulas
                    a.dropdown-a.bg-white-smoke.dark-blue.margin-10px.padding-10px.border-1px-black(href=`/ucs/${id}/resources`) Conteúdo

    .flexbox.justify-center.w3-margin.w3-padding
        input.w3-half.w3-margin.w3-input.w3-round.w3-border(placeholder="Pesquisar" type="text" name="search" id="searchUsers")
    
    .w3-container
        .container(id="user-list")
            each user, idx in users
                if user.nivel === 1
                    .card(id=`card-${user._id}`)
                        .box
                            .content
                                h3.word-break #{user.nome} (#{user.email})
                                p=user.filiacao
                                .flexbox.flex-column.align-center.justify-center
                                    input(type="hidden" name=`user` value=`${user._id}`)
                                    a.button.dark-blue.border-1px-black.margin-10px.padding-10px(href=`/ucs/${id}/users/${user._id}`) Remover utilizador

    script(src="/javascripts/searchUsers.js")