extends layout

block content
    .w3-row.flexbox
        .w3-quarter.flexbox.justify-center.align-center.full-height-div

        header.w3-half.flexbox.justify-center.align-center.gold
            h1 Atualizar UC

        .w3-quarter.flexbox.justify-center.align-center.full-height-div


    form.w3-container(method="POST")
        .flexbox.flex-grow.space-between
            div
            .flexbox
                button.button.border-1px-black.margin-10px.padding-10px(type="submit" id="submit") Concluir
                a.button.margin-10px.padding-10px.border-1px-black(href=`/ucs`) Cancelar

        .w3-container
            fieldset.w3-margin.w3-padding.white-smoke Identificação da UC
                .w3-container.w3-margin.w3-padding
                    .w3-container(id="identificacao")
                        label.white-smoke.w3-margin(for="sigla") Sigla:
                        input.w3-margin.w3-input.w3-round.w3-border.white-smoke(type="text" name="sigla" value=`${uc._id}` disabled)
                        label.white-smoke.w3-margin(for="titulo") Título:
                        input.w3-margin.w3-input.w3-round.w3-border(type="text" name="titulo" value=`${uc.titulo}`)
            
            fieldset.w3-margin.w3-padding.white-smoke Datas Importantes
                .w3-container
                    .w3-container.w3-margin(id="datas")
                        .flexbox.flex-grow.space-between
                            div
                            .flexbox
                                button.button.border-1px-black.margin-10px.padding-10px(id="newData") +
                                button.button.border-1px-black.margin-10px.padding-10px(id="removeData") -
                        each a, i in uc.datas
                            div(id=`data${i+1}`)
                                label.white-smoke.w3-margin(for=`dataNome${i+1}`) Nome:
                                input.w3-margin.w3-input.w3-round.w3-border(type="text" name=`dataNome${i+1}` value=`${a.nome}`)
                                label.white-smoke.w3-margin(for="`dataDia${i+1}`") Dia:
                                input.w3-margin.w3-input.w3-round.w3-border(type="text" name=`dataDia${i+1}` value=`${a.descricao}`)
            
            fieldset.w3-margin.w3-padding.white-smoke Horários
                .w3-container(id="horários")
                    .w3-container.w3-margin(id="teoricas")
                        .flexbox.flex-grow.space-between
                            div
                            .flexbox
                                button.button.border-1px-black.margin-10px.padding-10px(id="newHorarioTeorico") +
                                button.button.border-1px-black.margin-10px.padding-10px(id="removeHorarioTeorico") -
                        .w3-margin.white-smoke Teóricas:
                        each a, i in uc.horario.teoricas
                            input.w3-margin.w3-input.w3-round.w3-border(type="text" name=`horarioTeorico${i+1}` id=`horarioTeorico${i+1}` value=`${a}`)

                    .w3-container.w3-margin(id="praticas")
                        .flexbox.flex-grow.space-between
                            div
                            .flexbox
                                button.button.border-1px-black.margin-10px.padding-10px(id="newHorarioPratico") +
                                button.button.border-1px-black.margin-10px.padding-10px(id="removeHorarioPratico") -
                        .w3-margin.white-smoke Práticas:
                        each a, i in uc.horario.praticas
                            input.w3-margin.w3-input.w3-round.w3-border(type="text" name=`horarioPratico${i+1}` id=`horarioPratico${i+1}` value=`${a}`)

            fieldset.w3-margin.w3-padding.white-smoke Avaliaçõess
                .w3-container
                    .w3-container.w3-margin.w3-padding(id="avaliacoes")
                        .flexbox.flex-grow.space-between
                            div
                            .flexbox
                                button.button.border-1px-black.margin-10px.padding-10px(id="newAvaliacao") +
                                button.button.border-1px-black.margin-10px.padding-10px(id="removeAvaliacao") -
                        each a, i in uc.avaliacao
                            input.w3-margin.w3-input.w3-round.w3-border(type="text" name=`avaliacao${i + 1}` id=`avaliacao${i + 1}` value=`${a}`)

    script(src="/javascripts/jquery-3.7.1.min.js")
    script(src="/javascripts/addUc.js")